<%= link_to admin_settings_path, class: "button float-right" do %>
  <span class="icon-settings"></span>
  <%= t("admin.menu.settings") %>
<% end %>

<%= link_to admin_stats_path, class: "button float-right" do %>
  <span class="icon-stats"></span>
  <%= t("admin.menu.stats") %>
<% end %>

<h2 class="inline-block"><%= t("admin.dashboard.index.title") %></h2>

<p>Da qui puoi amministrare il sistema, mediante le seguenti azioni:</p>

<div class="small-12 medium-9">
  <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">

    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Argomenti di dibattito</a>
      <div class="accordion-content" data-tab-content>
        <p>Gli argomenti (anche chiamati tags, o etichette) di dibattito sono parole definite dagli utenti durante la creazione dei dibattiti, per catalogarli (per esempio: sanit&agrave;, mobilità, sport, ...). Qui si possono eliminare argomenti inadeguati, o <strong>contrassegnarli per essere proposti in fase di creazione dei dibattiti</strong> (ciascun utente pu&ograve; definire ci&ograve; che vuole, per&ograve; suggerirgliene alcuni ci pare utile come catalogazione predefinita; qui &egrave; possibile cambiare quelli da proporre)</p>
      </div>
    </li>

    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Proposte/Dibattiti/Commenti nascosti</a>
      <div class="accordion-content" data-tab-content>
        <p>Quando un moderatore o un amministratore nasconde una Proposta/Dibattito/Commento apparir&agrave; in questo elenco. In questa maniera gli amministratori possono controllare che si abbia nascosto l'elemento adeguato.</p>

        <ul>
          <li>Facendo click su <strong>Conferma</strong> si ribadisce la correttezza dell'azione di rimozione dell'elemento dal sito web.</li>
          <li>Con <strong>Torna a mostrare</strong> si invalida l'azione e si rende nuovamente visibile una Proposta/Dibattito/Commento, dando per assodato che è stato un errore quello di nasconderla.</li>
        </ul>

        <p>Per semplicare la gestione, in cima è presente un <strong>filtro</strong> con le sezioni: "in sospeso" (gli elementi per i quali non si è ancora scelto se "confermare" o "tornare a mostrare", che dovrebbero ancora essere esaminati), "confermati" e "tutti".</p>

        <p><em>Si consiglia di controllare periodicamente la sezione "in sospeso".</em></p>
      </div>
    </li>

    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Utenti bloccati</a>
      <div class="accordion-content" data-tab-content>
        <p>In questo elenco compaiono gli utenti che sono stati bloccati da un moderadore o da un amministratore. <strong>Se si blocca un utente, non lo si può più utilizzare per eseguire azioni all'interno del sito</strong>. Gli amministratori possono sbloccarlo facendo click sul pulsante posto a lato del nome dell'utente.</p>
      </div>
    </li>

    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Organizzazioni</a>
      <div class="accordion-content" data-tab-content>
        <p>All'interno del sito web ci sono due tipi di utenti: individuali e organizzazioni. Qualsiasi persona può creare utenti di un tipo o dell'altro nel proprio spazio web. Gli utenti delle organizzazioni possono essere verificati dagli amministratori, che confermano il possessore dell'utente come effettivo rappresentante dell'organizzazione. Una volta concluso il processo di verifica, mediante un iter definito appositamente ed esterno al sito, si fa click sul bottone <strong>"Verifica"</strong> per confermarlo; come conseguenza dell'azione, a lato del nome dell'organizzazione apparirà una etichetta segnalando che si tratta di una organizzazione verificata.</p>

        <p>Qualora il processo di verifica si sia concluso negativamente, si fa click sul bottone <strong>"Rifiuta"</strong>. Per modificare un qualche dato dell'organizzazione, si fa click sul bottone <strong>"Modifica"</strong>.</p>

        <p>Le organizzazioni che non compaiono in tale elenco posso essere ricercate tramite lo strumento di ricerca collocato nella parte superiore della pagina. Per semplificare la gestione, in alto è presente un <strong>filtro</strong> con le sezioni: "in sospeso" (le organizzazioni che non sono ancora state verificate o rifiutate), "verificate", "rifiutate" e "tutte".</p>
        <p><em>Si raccomanda di controllare periodicamente la sezione "in sospeso".</em></p>
      </div>
    </li>

    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Incarichi Pubblici</a>
      <div class="accordion-content" data-tab-content>
        <p>Nel sito, gli utenti individuali possono essere utenti normali, o incarichi pubblici. Questi ultimi si differenziano dai primi unicamente nel fatto che a lato del nome appare una <strong>etichetta che li identifica</strong>, e cambia leggeremente lo stile dei loro commenti. Questo consente agli altri utenti di individuarli pi&ugrave; facilmente. A lato di ciascun utente è presente una etichetta che mostra la sua identificazione, e <strong>il suo livello</strong> (il metodo impiegato all'interno del sito per differenziare fra un tipo di incarichi e gli altri). Facendo click sul pulsante <strong>"Modifica incarico pubblico"</strong> presente in corrispondenza di ciascun utente, si può modificare il dato di incarico pubblico. Gli incarichi pubblici che non appaiono nell'elenco si possono trovare mediante lo strumento di ricerca della parte superiore.</p>
      </div>
    </li>

    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Moderadori</a>
      <div class="accordion-content" data-tab-content>
        <p>Tramite lo strumento di ricerca della parte superiore si possono cercare gli utenti, allo scopo di assegnare o deassegnare loro il ruolo di moderatore del sito. I moderatori, quando accedono al sito web con la loro utenza, vedono nella parte superiore della pagina una nuova sezione chiamata <strong>"Moderare"</strong></p>
      </div>
    </li>

    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Attività dei moderatori</a>
      <div class="accordion-content" data-tab-content>
        <p>In questa sezione si salvano <strong>tutte le azioni di moderazione effettuate dai moderatori o dagli amministratori</strong>: nascondi/mostra Proposte/Dibattiti/Commenti e blocca utenti. Nella colonna <strong>"Azione"</strong> è visualizzata l'operazione eseguita (nascondi/mostra elementi, o blocca utenti). Nelle altre colonne si mostra il tipo di elemento, il contenuto dell'elemento e il moderadore o l'amministratore che ha portato a termine l'operazione. Questa sezione consente agli amministratori di rilevare comportamenti irregolari da parte di moderadori specifici, in tal caso possono correggerli.</p>
      </div>
    </li>

    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Configurazione Globale</a>
      <div class="accordion-content" data-tab-content>
        <p>Opzioni generali della configurazione del sistema.</p>
      </div>
    </li>

    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Statistiche</a>
      <div class="accordion-content" data-tab-content>
        <p>Statistiche generali del sistema.</p>
      </div>
    </li>
  </ul>
</div>
