<% provide :title do %><%= t("pages.titles.conditions") %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("conditions") %>
<% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">
    <h1><%= t('.title') %></h1>
    <h2><%= t('.subtitle') %></h2>
    <p><%= t('.description') %></p>

    <h3>1. Ambito di applicazione</h3>
    <p>La partecipazione attiva proposta dal portale DecidiTorino della Città di Torino (d'ora in poi anche solo DecidiTorino)è regolata dalla presenti condizioni d'uso, che vincolano tutti coloro che intendono utilizzarlo. Per accedere al portale occorre registrarsi ed accettare le presenti condizioni d'uso.</p>
    <p>La Città di Torino si riserva la facoltà di modificare le condizioni d'uso di DecidiTorino, la cui ultima versione è quella pubblicata su questo sito web.</p>

    <h3>2. Obiettivo dell'iniziativa</h3>
    <p>Attraverso DecidiTorino la Città di Torino intende promuovere la partecipazione dei cittadini e delle cittadine nella gestione della città, coinvolgendo la cittadinanza nella generazione di idee e proposte con l'obiettivo di migliorarne la qualità della vita. Con un gestione più vicina ai bisogni della città, si potranno creare canali diretti di comunicazione con l'Amministrazione comunale, contribuendo a prendere le decisioni più condivise nell'interesse generale di tutti</p>

    <h3>3. Questioni generali</h3>
    <p>DecidiTorino mette a disposizione una serie di strumenti di partecipazione: dibattiti, proposte cittadine, progetti dell'Amministrazione e Bilanci partecipativi. Tali strumenti saranno avviati progressivamente e non necessariamente sarano tutti immediatamente disponibili. Ad esempio i progetti nell'ambito del bilancio partecipativo saranno presentabili solo in determinati periodi dell'anno, in relazione alla avvenuta approvazione del bilancio dell'anno di competenza. </p>
    <p>A DecidiTorino potrà partecipare chiunque, con età maggiore di 16 anni, si sia registrato sul portale. Con l'accettazione di queste condizioni, è implicita la dichiarazione di aver almeno 16 anni. Nel caso di minori, la responsabilità di quanto svolto su DecidiTorino, ricade sui titolari della potestà genitoriale.</p>
    <p> Non ci sono limiti nel numero di dibattiti, commenti o proposte che ciascun utente registrato può presentare nel portale.</p>
    <p>Nel partecipare ai dibattiti, prima di inserire un nuovo argomento, si consiglia di verificare se questi non sia già presente tra quelli già avviati e nel caso, parteciparvi con i propri commenti.</p>
    <p>Nell'introdurre il titolo delle proposte, si raccomanda di scriverne uno breve e preciso (con un massimo di 2000 caratteri). Per completare la proposta potranno infatti essere aggiunti allegati.</p>
    <p>Ulteriori approfondimenti sull'uso della piattaforma sono disponibili nella pagina delle <%= link_to "Domande frequenti", faq_path %>.</p>

    <h3>4. Doveri degli utenti</h3>
    <p>DecidiTorino è un punto di incontro il cui obiettivo è dibattere, condividere e valutare le proposte utili a migliorare la città: gli utenti pertanto dovranno farne un uso diligente e in accordo con tale obiettivo.</p>
    <p>La Città di Torino non è responsabile dell'uso non corretto o improprio di DecidiTorino da parte degli utenti, ovvero per i contenuti da essi inseriti, essendo ogni utente responsabile del suo uso corretto e della legalità del contenuto e delle opinioni che ha ivi condiviso.</p>
    <p>La Città di Torino si riserva, pertanto, il diritto di limitare l'accesso a DecidiTorino in presenza di un uso illecito o improprio da parte degli utenti, anche in relazione al linguaggio utilizzato e ai temi proposti se contrari alle norme e alla convivenza civile, plurale, e pacifica della nostra comunità, ovvero affinchè siano preservati gli obiettivi fondamentali di DecidiTorino, come già evidenziati.</p>
    <p>In accordo con le norme vigenti pertanto è proibito l'uso di DecidiTorino per fini diversi a quelli di dibattere, condividere e valutare le proposte, e specificatamente:</p>
    <p>inserire o condividere, direttamente o indirettamente tramite link, contenuti che siano considerati in violazione, in qualsiasi forma, dei diritti fondamentali della persona;</p>
    <p>inserire o condividere, direttamente o indirettamente tramite link, dati, immagini, video, o fotografie relativi a terzi senza averne ottenuto il consenso esplicito;</p>
    <p>inserire o condividere, direttamente o indirettamente tramite link, qualsiasi contenuto che violi il segreto delle comunicazioni, i diritti di proprietà industriale e intellettuali, o le norme in vigore relative alla protezione dei dati personali;</p>
    <p>riprodurre, distribuire, condividere contenuti, informazioni o immagini, direttamente o indirettamente tramite link, che siano a disposizione di altri utenti senza la loro esplicita autorizzazione;</p>
    <p>utilizzare DecidiTorino a fini pubblicitari.</p>
    <p>Nel caso siano individuati comportamenti impropri, come quelli sopra elencati, l'utente potrà essere sospeso temporaneamente, ovvero non potrà accedere a DecidiTorino, ovvero il contenuto inserito verrà eliminato, senza pregiudizio, ove ricorra il caso, per responsabilità civili o penali che dovessero essere rilevate dall'Autorità competente.</p>
    <p>Nel caso che il contenuto introdotto incorpori un link a siti esterni, la Città di Torino, non potrà essere ritenuta responsabile di danni o pregiudizi derivanti dall'accesso al link riportato e ai suoi contenuti.</p>
    <p>Nel caso gli utenti di DecidiTorino, o terzi, dovessero, per qualsiasi motivo, avviare una disputa legale, la Città di Torino si considera esclusa da qualsiasi responsabilità  in casi di reclami, richieste, danni di qualsiasi natura, relazionati o derivati da detta disputa.</p>

    <h3>5. Uso di DecidiTorino</h3>
    <p>Tutti possono accedere e navigare, liberamente e in forma anonima, all'interno di DecidiTorino. Solo se intendono avviare azioni volte a creare, appoggiare o commentare una proposta, o partecipare a un dibattito, verrà richiesto di introdurre le proprie credenziali che potranno ottenere semplicemente registrandosi a DecidiTorino. La registrazione consentirà di partecipare con commenti in qualsiasi sezione di DecidiTorino, creando dibattiti e proposte. La registrazione deve essere effettuata dal diretto interessato e richiede i seguenti dati:</p>
    <ul>
      <li>Nome utente</li>
      <li>Indirizzo di posta elettronica</li>
      <li>Accettazione delle condizioni d'uso di DecidiTorino</li>
    </ul>

	  <p>Gli utenti dovranno completare la registrazione seguendo le istruzioni ricevute all'indirizzo di email indicato. </p>
	  <p>DecidiTorino consente inoltre l'identificazione degli utenti direttamente tramite i profili dei più diffusi social e delle credenziali del <a href="https://www.spid.gov.it/" target="_blank">Sistema Pubblico di Identità Digitale SPID</a>.</p>
	  <p>L'utilizzo di dati falsi, ovvero l'utilizzo di identità altrui, sarà perseguito legalmente (art. 494 del Codice Penale).</p>
    <% unless feature?('user.skip_verification') %>
      <p>Le proposte possono essere appoggiate solo dai residenti in Torino, maggiori di 16 anni. L'utente dovrà far verificare tali condizioni con una operazione automatica svolta da DecidiTorino sull'anagrafe di Torino, dopo aver introdotto il proprio codice fiscale, la data di nascita, il codice di avviamento postale (CAP) e un numero di cellulare. Si precisa che nessun dato del richiedente viene fornito a video. Sul cellulare si otterrà un codice per completare la registrazione e passare ad utente 'certificato'.</p>
    <% end %>
    <p> Qualsiasi contenuto, in qualsiasi forma, inserito dall'utente o dall'Amministrazione è considerato inserito con licenza <a href="https://it.wikipedia.org/wiki/Italian_Open_Data_License" target="_blank" title="(apre una nuova finestra)">IODL 2.0 (Italian Open Data Licence)</a>, salvi i casi in cui essi non siano stati esplicitamente indicati come coperti dal diritto di proprietà intellettuale e/o industriale.</p>
    <p>L'utente potrà interagire con DecidiTorino attraverso:</p>

    <h4>1. DIBATTITI</h4>
    <p>All'interno di questa sezione è possibile:</p>
    <ul>
      <li>Creare un dibattito. Ogni utente può aprire uno o più dibattiti. I dibattiti sono pubblicati automaticamente.</li>
      <li>Votare in modo positivo o negativo i dibattiti già presenti (inclusi i singoli commenti). I voti positivi e negativi sono pubblicati in tempo reale. Ogni utente potrà votare esclusivamente o in positivo o in negativo, una sola volta per dibattito, senza poter cambiare il voto già espresso.</li>
      <li>Commentare i dibattiti degli altri utenti. I singoli interventi di commento possono essere a loro volta votati positivamente o negativamente.</li>
    </ul>

    <h4>2. PROPOSTE</h4>
    <p>All'interno di questa sezione è possibile:</p>
    <ul>
      <li>Creare una proposta. Ogni utente, anche con livello di autenticazione base, può inserire una o più proposte. Le proposte sono pubblicate automaticamente.</li>
      <li>Appoggiare le proposte già presenti. Il numero di appoggi ricevuti è pubblicato accanto ad ogni proposta. Ogni utente potrà appoggiare la stessa proposta una volta sola. L'appoggio è solo in positivo<% unless feature?('user.skip_verification') %>, e può essere espresso solo da utenti certificati come residenti in Torino e maggiori di 16 anni<% end %>. Se la proposta, entro un tempo stabilito dal suo inserimento, riceve il numero minimo di appoggi indicato accanto alla stessa, questa passerà alla valutazione tecnica dell'Amministrazione per essere realizzata. I risultati della valutazione sono pubblici.</li>
      <li>Commentare le proposte già presenti. Ogni proposta può essere commentata dagli altri utenti, argomentando le ragioni dell'appoggio o introducendo migliorie.</li>
    </ul>

    <h4>3. PROGETTI dell'Amministrazione</h4>
    <p>All'interno di questa sezione è possibile:</p>
    <ul>
      <li>Prendere visione dei progetti. I progetti sono inseriti dall'Amministrazione e sono illustrati con una descrizione e eventuali documenti allegati, e con possibili quesiti, sondaggi o domande rivolte agli utenti.</li>
      <li>Partecipare al dibattito. Gli utenti possono partecipare rispondendo ai quesiti, sondaggi o domande poste. </li>
      <li>Partecipare all'elaborazione della proposta di progetto. I progetti, terminata una prima fase di elaborazione, possono poi essere presentati come documenti che possono essere commentati dagli utenti.</li>
    </ul>

    <h3>6. Trattamento dei contenuti inseriti dagli utenti</h3>
    <p>Ai contenuti inseriti dagli utenti, di quasiasi tipo, inclusi i commenti a testi di altri utenti, rispondono ai caratteri di:</p>
    <ul>
      <li>A. Non confidenzialità: tutto il contenuto inserito dall'utente deve essere suscettibile di essere conosciuto dal pubblico in generale. Pertanto, la Città di Torino tratterà detto contenuto come informazione non confidenziale.</li>
      <li>B. Licenza: qualsiasi contenuto, in qualsiasi forma, inserito dall'utente (così come dall'Amministrazione) è considerato inserito con licenza <a href="https://it.wikipedia.org/wiki/Italian_Open_Data_License" target="_blank" title="(apre una nuova finestra)">IODL 2.0 (Italian Open Data Licence)</a>IODL 2.0, salvi i casi in cui essi non siano stati esplicitamente indicati come coperti dal diritto di proprietà intellettuale e/o industriale.</li>

      <li>C. Pubblicità e diffusione dei contenuti: gli utenti di DecidiTorino dichiarano di accettare che le informazioni inserite potranno anche essere pubblicate sul sito <a href="http://www.comune.torino.it" target="_blank" title="(apre una nuova finestra)">www.comune.torino.it</a>, così come attraverso altri media che la Città consideri opportuno per aumentarne la diffusione e conoscibilità, inclusi le reti sociali ovvero altri siti della Città, in conformità a quanto previsto dalla licenza d'uso Italian Open Data Licence IODL 2.0.</li>

      <li>D. Gratuità: gli utenti nulla potranno chiedere alla Città in relazione ai contenuti da loro inseriti ovvero in esito al loro utilizzo, in qualsiasi forma, avendo esposto idee, proposte, commenti e suggerimenti in forma totalmente gratuita, che tale resterà anche quando questi siano in concreto, integralmente o parzialmente, utilizzati in progetti, iniziative, realizzazioni della Città.</li>
      <li>E. Procedimento di cancellazione: i contenuti che non rispettano le presenti condizioni potranno essere cancellati dalla Città di Torino, anche su richiesta motivata di chiunque ritenga violate dette condizioni. La Città di Torino si riserva comunque il diritto di svolgere le verifiche opportune prima di dar corso alla richiesta di cancellazione.</li>
    </ul>

    <h3>7. Protezione dei dati personali e diritti di proprietà intellettuale e/o industriale</h3>
    <ul>
      <li>A. Titolarietà dei diritti di proprietà intellettuale e/o industriale
	    <ul>
	      <li>L'utente che aggiunge contenuti dichiara, con l'accettazione delle presenti condizioni, di essere titolare dei diritti di proprietà intellettuale e/o industriale o di vantarne diritti sufficienti, e che, volontariamente  mette a disposizione tali contenuti per la loro diffusione sul portale DecidiTorino.</li>
        <li>La titolarietà dei contenuti inseriti che sono protetti o che potrebbero essere protetti dal diritto di proprietà intellettuale e/o industriale, è degli stessi autori e/o titolari.</li>
        <li>La Città di Torino non si assume alcuna responsabilità, diretta o indiretta, rispetto a qualsiasi tipo di controversia, disputa o procedimento giudiziario che possa derivarsi dalla pubblicazione, divulgazione e/o diffusione, a parte dell'utente, dei contenuti inseriti senza il preventivo consenso dei suoi legittimi titolari e aventi diritto.</li>
        <li>La Città di Torino rispetterà tutti i diritti di proprietà intellettuale o industriale relativi a quanto inserito dagli utenti. Qualsiasi violazione di detti diritti sarà responsabilità della persona che ha inserito tali contenuti.</li>
      </ul>
      <li>B. Protezione dei dati personali (Regolamento UE 679/2016).</li>
      <ul>
	      <li>I dati forniti dagli utenti durante la registrazione non saranno forniti a terzi, e sono funzionali all'accesso a tutte le sezioni del sito soggette a identificazione, fatte salve le eventuali richieste dell'Autorità Giudiziaria.</li>
        <li>La Città di riserva il diritto all'utilizzo dei dati di registrazione per informare l'utente a riguardo di eventuali iniziative connesse con il portale DecidiTorino</li>
        <li>Gli utenti registrati possono avvalersi, ove applicabili, dei diritti di accesso (art. 15), di rettifica (art. 16), di cancellazione (art. 17), di limitazione (art. 18), di notifica (art. 19), di portabilità (art. 20), di opposizione (art. 21). La Città non utilizza modalità di trattamento basate su processi decisionali automatici (art. 22).<br>Tutti i diritti sono esercitabili in qualsiasi momento ricorrendo ai recapiti sottoindicati.<br>Città di Torino, portale DecidiTorino, via Meucci 4, 10122 Torino</li>
	      <li>Ulteriori informazioni sull'informativa, come da art. 13 del Regolamento UE 679/2016, inclusi i riferimenti relativi al Titolare e al Responsabile Protezione Dati, sono disponibili nella <a href="http://www.comune.torino.it/amm_com/675.htm" target="_blank" title="(apre una nuova finestra)">pagina dedicata sul sito della Città di Torino</a></li>
        <li>Essendo utilizzati solo cookie anonimi tecnici o di sessione che non profilano gli utenti - non è richiesto un consenso preventivo, maggiori dettagli <a href="http://www.comune.torino.it/condizioni.shtml#cookie" target="_blank" title="(apre una nuova finestra)">sull'utilizzo dei cookie sono pubblicati sul sito della Città</a></li>
	    </ul>
	  </ul>

    <h3>8. Normativa applicabile</h3>
    <p>Si applicano le norme dell'ordinamento giuridico italiano. Per qualsiasi controversia è competente il Foro di Torino. Si rinvia alla deliberazione n. 2018 00152/27 "DecidiTorino. Periodo sperimentale per la piattaforma di partecipazione. Individuazione delle modalità provvisorie per l'interazione."</p>

    <h3>9. Revisione delle condizioni d'uso</h3>
    <p>La Città di Torino si riserva il diritto di rivedere le presenti condizioni d'uso in qualsiasi momento. Nel caso, gli utenti registrati saranno avvisati attraverso questa pagina e, nel continuare a utilizzare DecidiTorino, confermano l'accettazione di tutte le modifiche introdotte.</p>

    <h3>10. Versione delle condizioni d'uso</h3>
	  <p>Le presenti condizioni sono valide dal 25.05.2018 (vers. 1.2).</p>
  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>
</div>
