<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: root_url %>
<% end %>

<div class="jumbo highlight">
  <div class="row">
    <div class="small-12 medium-9 small-centered column text-center">
      <h1><%= t("layouts.header.titolo") %></h1>
      <p class="lead">
        <%= t("layouts.header.html") %>
      </p>
      <div class="small-12 medium-6 large-4 small-centered">
        <%= link_to t("shared.more_info"), help_path, class: "button expanded large" %>
      </div>
    </div>
  </div>
</div>

<% cache [locale_and_user_status, @featured_debates, @featured_proposals, 'featured'] do %>
  <main>
    <div class="row">
      <div class="small-12 medium-6 column margin-bottom">
        <figure class="figure-card">
          <%= link_to "#{request.url}legislation/processes/9", title: t("welcome.schede.scheda1.link") do %>
          <%= image_tag "welcome/metro2.jpg", alt: t("welcome.schede.scheda1.title") %>
          <% end %>
          <figcaption>
          <%= link_to "#{request.url}legislation/processes/9", title: t("welcome.schede.scheda1.link") do %>
            <span><%= t("welcome.schede.scheda1.label") %></span><br>
            <p class="title"><%= t("welcome.schede.scheda1.title") %></p>
          <% end %>
          </figcaption>
        </figure>
        <p><%= t("welcome.schede.scheda1.description") %></p>
        <p>
          <%= link_to t("welcome.schede.scheda1.link"), "#{request.url}legislation/processes/9" %>
        </p>
      </div>
      <div class="small-12 medium-6 column margin-bottom">
        <figure class="figure-card">
          <%= link_to debates_path, title: t("welcome.schede.scheda2.link") do %>
          <%= image_tag "welcome/dibatti.jpg", alt: t("welcome.schede.scheda2.title") %>
          <% end %>
          <figcaption>
          <%= link_to debates_path, title: t("welcome.schede.scheda2.link") do %>
          <span><%= t("welcome.schede.scheda2.label") %></span><br>
          <p class="title"><%= t("welcome.schede.scheda2.title") %></p>
          <% end %>
          </figcaption>
        </figure>
        <p><%= t("welcome.schede.scheda2.description").html_safe %></p>
        <p>
          <%= link_to t("welcome.schede.scheda2.link"), debates_path %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-6 column margin-bottom">
        <figure class="figure-card">
          <%= link_to proposals_path, title: t("welcome.schede.scheda3.link") do %>
          <%= image_tag "welcome/cambia_la_tua_citta.png", alt: t("welcome.schede.scheda3.title") %>
          <% end %>
          <figcaption>
          <%= link_to proposals_path, title: t("welcome.schede.scheda3.link") do %>
            <span><%= t("welcome.schede.scheda3.label") %></span><br>
            <p class="title"><%= t("welcome.schede.scheda3.title") %></p>
          <% end %>
          </figcaption>
        </figure>
        <p><%= t("welcome.schede.scheda3.description",
          link1: link_to("Perché devo far appoggiare la mia proposta?", faq_path + '#15'),
          link2: link_to(t("pages.more_info.title", org_name: setting['org_name']), more_info_path)).html_safe %>
        </p>
        <p>
          <%= link_to t("welcome.schede.scheda3.link"), proposals_path %>
        </p>
      </div>
      <div class="small-12 medium-6 column margin-bottom">
        <figure class="figure-card">
          <%= link_to "#{request.url}legislation/processes/1", title: t("welcome.schede.scheda4.link") do %>
          <%= image_tag "welcome/panorama_aereo.jpg", alt: t("welcome.schede.scheda4.title") %>
          <% end %>
          <figcaption>
          <%= link_to "#{request.url}legislation/processes/1", title: t("welcome.schede.scheda4.link") do %>
          <span><%= t("welcome.schede.scheda4.label") %></span><br>
          <p class="title"><%= t("welcome.schede.scheda4.title") %></p>
          <% end %>
          </figcaption>
        </figure>
        <p><%= t("welcome.schede.scheda4.description") %></p>
        <p>
          <%= link_to t("welcome.schede.scheda4.link"), "#{request.url}legislation/processes/1" %>
        </p>
      </div>
    </div>    
  </main>
<% end %>
